 .card-panel {
  display: inline-block;
  background-color: transparent;
}

.card-body {
  padding: 0;
  height: 150px;
  cursor: pointer;
}

.img-width {
  width: 110px;
}

.real-img {
  margin: 20% 0;
}

@media screen and (max-width: 768px) {
  .card-body {
    height: auto;
  }

  .img-style {
    margin-bottom: 20%;
  }
}
.back-img {
  background-image: url(../../assets/images/back-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  
.good-job {
  text-align: center;
  color: #38d6f186;
  font-size: 75px;
  text-shadow: 0 0 15px wheat;
  }
  .counter-text {
    text-shadow: 0 0 10px gold;
    font-family: fantasy;
    color: aquamarine;
    opacity: 0.8;
    text-align: center;
    font-size: 35px;
  }
  .head-style {
    text-shadow: 0 0 10px gold;
    color:rgba(23, 122, 134, 0.7);
    }
    